Integration Webhooks, Google Gemini AI.blueprint.json
{
    "name": "Integration Webhooks, Google Gemini AI",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 920208,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -427,
                    "y": -853
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "techpresso email fetching"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [
                    {
                        "name": "subject",
                        "value": "eq.{{1.title}}"
                    }
                ],
                "url": "https://rrhfiepdubhqumxorfjn.supabase.co/rest/v1/newsletter",
                "data": "",
                "gzip": true,
                "method": "get",
                "headers": [
                    {
                        "name": "apiKey",
                        "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJyaGZpZXBkdWJocXVteG9yZmpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk3ODEyMDQsImV4cCI6MjA2NTM1NzIwNH0.i1a-GkShedZnaRRVhKZP_Jtrjbqxyg-Kt_hN_I7oJcY"
                    },
                    {
                        "name": "Authorization",
                        "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJyaGZpZXBkdWJocXVteG9yZmpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk3ODEyMDQsImV4cCI6MjA2NTM1NzIwNH0.i1a-GkShedZnaRRVhKZP_Jtrjbqxyg-Kt_hN_I7oJcY"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": -25,
                    "y": -863
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 20,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 398,
                    "y": -856
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 2,
                            "module": "gemini-ai:makeApiCall",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3819965
                            },
                            "filter": {
                                "name": "중복 없음",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{12.data}}",
                                            "b": "[]",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "url": "/v1beta/models/gemini-2.5-flash-preview-05-20:generateContent",
                                "body": "{\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"다음 영어 뉴스들을 자연스럽고 간결한 한국어로 번역한 뒤, 각 뉴스마다 반드시 JSON 배열을 string으로 반환해줘( 반드시```json 태그 없이 반환해줘).  모든 subject 값은 {{1.title}}로 통일해줘. 형식: \\n\\n[\\n  {\\n    \\\"subject\\\": \\\"\\\",\\n    \\\"title\\\": \\\"[한국어 번역된 제목]\\\",\\n    \\\"content\\\": \\\"[한국어로 번역된 기사 본문]\\\"\\n  },\\n  ...\\n]\\n\\n원문은 이거야:{{1.summary}}\\n\"\n        }\n      ]\n    }\n  ]\n}",
                                "method": "POST",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 406,
                                    "y": -1331
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "gemini-ai-q9zyjp"
                                            },
                                            "label": "newsletter translation"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:gemini-ai-q9zyjp",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 24,
                            "module": "json:ParseJSON",
                            "version": 1,
                            "parameters": {
                                "type": 127573
                            },
                            "mapper": {
                                "json": "{{2.body.candidates[].content.parts[].text}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 706,
                                    "y": -1337
                                },
                                "restore": {
                                    "parameters": {
                                        "type": {
                                            "label": "gemini response"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "json",
                                        "type": "text",
                                        "label": "JSON string",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "test response",
                                        "label": null,
                                        "help": "",
                                        "type": "array",
                                        "spec": {
                                            "type": "text",
                                            "default": "example",
                                            "required": false,
                                            "multiline": false,
                                            "name": "value",
                                            "label": "Value"
                                        },
                                        "required": false
                                    }
                                ]
                            }
                        },
                        {
                            "id": 27,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 24
                            },
                            "mapper": {
                                "subject": "{{24.subject}}",
                                "title": "{{24.title}}",
                                "content": "{{24.content}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1004,
                                    "y": -1339
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "JSON - Parse JSON [24]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 28,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "array": "{{27.array}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1297,
                                    "y": -1347
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit",
                                            "items": [
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "array",
                                        "type": "array",
                                        "label": "Array",
                                        "mode": "edit",
                                        "spec": []
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": true,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "url": "https://rrhfiepdubhqumxorfjn.supabase.co/rest/v1/newsletter",
                                "serializeUrl": false,
                                "method": "post",
                                "headers": [
                                    {
                                        "name": "apikey",
                                        "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJyaGZpZXBkdWJocXVteG9yZmpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk3ODEyMDQsImV4cCI6MjA2NTM1NzIwNH0.i1a-GkShedZnaRRVhKZP_Jtrjbqxyg-Kt_hN_I7oJcY"
                                    },
                                    {
                                        "name": "Authorization",
                                        "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJyaGZpZXBkdWJocXVteG9yZmpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk3ODEyMDQsImV4cCI6MjA2NTM1NzIwNH0.i1a-GkShedZnaRRVhKZP_Jtrjbqxyg-Kt_hN_I7oJcY"
                                    },
                                    {
                                        "name": "Content-Type",
                                        "value": "application/json"
                                    },
                                    {
                                        "name": "Prefer",
                                        "value": "return=minimal"
                                    }
                                ],
                                "qs": [],
                                "bodyType": "raw",
                                "parseResponse": false,
                                "authUser": "",
                                "authPass": "",
                                "timeout": "",
                                "shareCookies": false,
                                "ca": "",
                                "rejectUnauthorized": true,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "gzip": true,
                                "useMtls": false,
                                "contentType": "application/json",
                                "data": "[\n{\n  \"subject\": \"{{28.subject}}\",\n  \"title\": \"{{28.title}}\",\n  \"content\": \"{{28.content}}\"\n}\n]",
                                "followAllRedirects": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1558,
                                    "y": -1348
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null,
                                                null,
                                                null
                                            ]
                                        },
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Raw"
                                        },
                                        "contentType": {
                                            "label": "JSON (application/json)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "label": "Name",
                                                "type": "text",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "qs",
                                        "type": "array",
                                        "label": "Query String",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "label": "Name",
                                                "type": "text",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content type",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json",
                                                "application/xml",
                                                "text/xml",
                                                "text/html",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Request content"
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 19,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "이미 존재함",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{12.data}}",
                                            "b": "[]",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "{{response}}",
                                "scope": "roundtrip",
                                "value": "이미 뉴스레터가 존재함!"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 735,
                                    "y": -860
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": null,
                                        "type": "any",
                                        "label": null
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}